html, body {
    background-size: cover;
    height: 100%;
    margin: 0;
}

:root {
    --background_color: #FAA307;
    --foreground_color: #6b6e80;
    --header_color: #f1f1f7;
}

ol, ul {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    /* margin: 1em 100px 1em 100px; */
    align-items: center;
    justify-content: center;
}

#header {
    background-color: var(--header_color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#header li {
    white-space: nowrap;
    margin: 10px 50px 10px 50px;
}

#main_content {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.sample_text {
    color: #000;
    font-family: 'Mooli', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

.divider_img {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
}

@media screen and (max-width: 770px){
    #header {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header a {
        font-size: 15px;
    }

    #header li {
        white-space: nowrap;
        margin: 10px 20px 10px 20px;
    }

    .sample_text {
        font-size: 16px;
        margin: 10px 20px 10px 20px;
    }

    .divider_img {
        height: 5rem;
    }
    
}
