html, body {
    background-size: cover;
    height: 100%;
    margin: 0;
}

:root {
    --background_front_offset: 15%;
    --background_color: #FAA307;
    --foreground_color: #6b6e80;
    --header_color: #f1f1f7;
    --main_color: #fff;
    --border-radius: 20px;
}

ol, ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    /* margin: 1em 100px 1em 100px; */
    align-items: center;
}

#background {
    background: linear-gradient(20deg, #73bf66 85%, #a3e147);
    position: absolute;
    width: 100%;
    height: 100%;
}

#background_front {
    background-color: var(--foreground_color);
    height: calc(100% - var(--background_front_offset));
    position: relative;
    top: var(--background_front_offset);
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.wrapper {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    z-index: 2;
}

.main {
    background-color: var(--main_color);
    position: relative;
    width: 70vh;
    z-index: 2;
    margin: 10% 10% 10% 10%;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

#header {
    background-color: var(--header_color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#header a {
    color: #000;
    text-decoration: none;
    font-family: 'Mooli', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#header li {
    /* margin: 50px; */
    white-space: nowrap;
    margin: 10px 35px 10px 35px;
}

#main_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.sample_text {
    color: #000;
    font-family: 'Mooli', sans-serif;
    font-size: 20px;
    margin: 70px 100px 70px 100px;

    text-align: justify;
}

.divider_img {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
}

@media screen and (max-width: 770px){
    #header a {
        color: #000;
        text-decoration: none;
        font-family: 'Mooli', sans-serif;
        font-size: 5px;
        font-weight: bold;
    } 
}

